@media screen and (max-device-width: 827px) {
    .slider {

        .slider_content {
            background-image : url(../../../assets/mobile/подложка.png);
            background-repeat: no-repeat;
            width            : 322px;
            height           : 618px;

            .slider_image {
                width     : 222px;
                height    : 156px;
            }
        }
    }
}