<div class="slider">
  <button (click)='changeImages(0)' class="left_arrow"></button>
  <div *ngFor = "let slide of slides; let i = index;" class="slider_content">
      <img *ngIf="i === count" class="slider_image" [src]=slides[count].image alt="">
      <article class="books_content" *ngIf="i === count">
          <h1 class="books_content__title1">Комплект</h1><br><h1 class="books_content__title2">{{slides[count].title}}</h1>
          <p class="books_content__text">{{slides[count].text}}</p>
          <hr>
          <div class="count_books">
              <img class="book" src="../assets/images/books_kopiya_410.png" alt="">
              <p class="count_books__title">{{slides[count].countBooks}}</p>
              <img *ngIf="count!==5" class="book" src="../assets/images/books_kopiya_410.png" alt="">
              <p class="count_books__title">{{slides[count].countSongs}}</p>
          </div>
          <hr>
          <div class="choosing_kit">
              <button class="choosing_kit__btn">Подробнее о комплекте книг</button>
              <div class="choosing_btn">
                  <p class="order_a_set"><a href="#books">ЗАКАЗАТЬ КОМПЛЕКТ<img
                              src="../assets/images/books.png" alt=""></a></p>
                  <div class="choosing_text">
                      <div class="cost">
                          <p class="cost__p">{{slides[count].price}}</p>
                          <p class="text__p">руб.</p>
                      </div>
                      <p class="cost_text">Доставка Бесплатно</p>
                  </div>
              </div>
          </div>
      </article>
  </div>
  <button (click)='changeImages(1)' class="right_arrow"></button>
</div>