<div class="slider">
  <button class="left_arrow"></button>
  <div class="slider_content">
      <img class="slider_image" src="../assets/images/krtinka_knig_489.png" alt="">
      <article class="books_content">
          <h1 class="books_content__title">Комплект<br> ШРИМАД БХАГАВАТАМ</h1>
          <p class="books_content__text">Истории о из древних пуран о настоящем счастье,<br>
              происходившие миллионы лет назад.</p>
          <hr>
          <div class="count_books">
              <img class="book" src="../assets/images/books_kopiya_410.png" alt="">
              <p class="count_books__title">26 томов</p>
              <img class="book" src="../assets/images/books_kopiya_410.png" alt="">
              <p class="count_books__title">12 песен</p>
          </div>
          <hr>
          <div class="choosing_kit">
              <button class="choosing_kit__btn">Подробнее о комплекте книг</button>
              <div class="choosing_btn">
                  <p class="order_a_set"><a href="#books">ЗАКАЗАТЬ КОМПЛЕКТ<img
                              src="../assets/images/books.png" alt=""></a></p>
                  <div class="choosing_text">
                      <div class="cost">
                          <p class="cost__p">9 990</p>
                          <p>руб.</p>
                      </div>
                      <p class="cost_text">Доставка Бесплатно</p>
                  </div>
              </div>
          </div>
      </article>
  </div>
  <button class="right_arrow"></button>
</div>