<div class="mobile">
  <div class="cont">
    <p class="white_title">Комплект</p>
    <p class="title">{{slides[complect].title_1}}</p>
    <img *ngIf="complect == 6" [src]=slides[complect].mob_image alt="" class="top_block__img">
    <img *ngIf="complect !== 6" [src]=slides[complect].image alt="" class="top_block__img">
    <div class="info">
      <div class="info_block__1">
        <p class="content">Кол-во томов: <span class="count">{{slides[complect].count_books}}</span></p>
        <p *ngIf="complect == 0" class="content">Кол-во песен: <span
            class="count">{{slides[complect].count_songs}}</span>
        </p>
        <p *ngIf="complect == 1" class="content">Кол-во лил: <span class="count">{{slides[complect].count_songs}}</span>
        </p>
        <p *ngIf="complect == 2 || complect == 3 || complect == 4 || complect == 5" class="content">Кол-во произведений:
          <span class="count">{{slides[complect].count_songs}}</span></p>
        <p *ngIf="complect == 0 || complect == 1" class="content">Кол-во стихов: <span
            class="count">{{slides[complect].count_verses}}</span></p>
        <p *ngIf="complect == 1" class="content">Кол-во глав: <span
            class="count">{{slides[complect].count_pages}}</span></p>
        <p *ngIf="complect == 0" class="content">Кол-во страниц: <span
            class="count">{{slides[complect].count_pages}}</span></p>
        <p class="content">Вес: <span class="count">{{slides[complect].weight}}</span></p>
        <p *ngIf="complect == 0" class="content">Габариты: <span class="count">{{slides[complect].size}}</span></p>
        <br>
        <p class="content">Цена: <span class="count">{{slides[complect].price}}</span></p>
      </div>
      <div class="info_block__2">
        <div class="middle_block_left">
          <img src="../../../assets/complects/money_1487.png" alt="">
          <p class="middle_block_left_txt">Оплата при<br>
            получении книг</p>
        </div>
        <div class="middle_block_right">
          <img src="../../../assets/complects/box_1495.png" alt="">
          <p class="middle_block_right_txt">Доставка от 3<br>
            до 10 дней</p>
        </div>
      </div>
    </div>
    <form action="/" method="post" [formGroup]="orderComplect">
      <div class="input_form form_1">
        <label for="name">Введите ваше имя</label>
        <input type="text" name="name" id="name" class="form_input" placeholder="________________" 
        formControlName="name" appNameMask>
      </div>
      <div class="input_form form_2">
        <label for="phone">Введите Ваш номер телефона</label>
        <input type="text" name="phone" id="phone" class="form_input" placeholder="+7-(___)-___-__-__" 
        formControlName="phones"appPhoneMask>
      </div>
      <div class="form_btn">
        <input class="order_a_set" (click)="submit(complect)" type="submit" name="submit" href="#books"
          value="заказать комплект" [disabled]="orderComplect.invalid">
        <div class="form_checkbox">
          <input type="checkbox" formControlName="checkbox" required>
          <button class="btn_checkbox">Я соглашаюсь на обработку данных</button>
        </div>
      </div>
    </form>
  </div>
  <button (click)="close(true)" class="close"></button>
</div>