@media screen and (max-device-width: 1200px) {

    .wrapper {

        header {
            background-size    : cover;
            background-position: center;
            background-repeat  : no-repeat;
            position           : relative;
            height             : 890px;
            background-image   : url(../assets/images/fone_1.png);

            .container {
                padding: 20px 73px;
            }

            .header_content {
                margin-right: 203px;
                margin-top  : -10px;
            }

            .small_books {
                display: none;
            }

            .header_content_icons {
                margin-top: 400px;
            }

            .header_content_small {
                display: none;
            }

            .header_content__slider {
                display: none;
            }
        }

        .second_block {

            .slider {
                .books_content__textblock_mobile {
                    display: none;
                }

                .prabhupada {
                    display: none;
                }
            }
        }

        .third_block {
            background-image: none;
        }

        .fourth_block {

            .fourth_block__image {
                display: none;
            }
        }

        footer {

            .container {

                .footer_img {
                    margin-left: 56px;
                }

                .contacts_2 {
                    margin-right: 39px;
                    margin-left : 0px;
                }
            }
        }
    }

}

@media screen and (max-device-width: 991px) {

    .wrapper {

        header {

            .container {
                padding: 25px 0;

                .header_content {
                    margin-right: 0px;
                    margin-top  : 0px;
                }

                .logo {

                    img {
                        max-width: 87%;
                    }
                }

                .mnu_top {

                    li {

                        button {
                            font-size: 13px
                        }
                    }
                }

                .contacts {

                    .phone {

                        .phone_tel {
                            font-size    : 19px;
                            margin-bottom: 0;
                        }
                    }

                    .contacts_text {
                        font-size: 12px;
                    }
                }

            }

            .header_content {

                .header_content_title {
                    font-size    : 74px;
                    line-height  : 40px;
                    margin-bottom: 0;
                }

                .header_content_title2 {
                    line-height  : 40px;
                    font-size    : 25px;
                    margin-bottom: 0;
                }

                .header_content_title__p {
                    font-size  : 9px;
                    line-height: 22px;
                }

                .small_books {
                    display: none;
                }

                .order_a_set {
                    margin-right: 26px;
                    margin-top  : 41px;

                    button {
                        width    : 241px;
                        height   : 50px;
                        font-size: 12px;
                    }
                }
            }

            .header_content_icons {
                display: none;
            }

            .header_content_small {
                display        : flex;
                margin-top     : 450px;
                align-items    : center;
                justify-content: center;

                .left_btn {
                    background      : transparent;
                    background-image: url(../assets/mobile/str_lev.png);
                    width           : 23px;
                    height          : 28px;
                    border          : none;
                    outline         : none;
                }

                .icons {
                    padding: 0 15px;
                    width  : 316px;

                    .icon_images {
                        margin       : auto;
                        margin-bottom: 26px;
                        width        : 66px;
                        height       : 53px;
                    }

                    .icon_text {
                        text-align: center;
                    }
                }

                .right_btn {
                    background      : transparent;
                    background-image: url(../assets/mobile/str_pr.png);
                    width           : 23px;
                    height          : 28px;
                    border          : none;
                    outline         : none;
                }
            }

            .header_content__slider {
                display        : flex;
                justify-content: center;
                margin-top     : 33px;

                .little_slide {
                    width           : 11px;
                    height          : 11px;
                    background-color: #9a9a9a;
                    border-radius   : 50%;
                    margin-left     : 13px;
                }

                .little_slide.active {
                    width           : 11px;
                    height          : 11px;
                    background-color: #ff9c00;
                    border-radius   : 50%;
                }
            }
        }

        .second_block {
            height: 875px;

            .second_block__title {

                .choose_complect {
                    margin-right: 0;
                    margin-top  : 146px;
                }
            }

            .slider {
                padding-top: 0;
                margin-top : 0px;

                .books_content__textblock_mobile {
                    display: none;
                }
            }
        }

        .third_block {

            .two_books {
                flex-direction: column;
            }

            .third_block_title {
                margin-bottom: 91px;
                margin-right : 0;
                margin-top   : 95px;
            }
        }

        .fourth_block {
            height: 683px;

            .fourth_block__title {

                h1 {
                    margin-top  : 0;
                    margin-right: 0;
                }
            }

            .fourth_block__image {
                display: none;
            }
        }

        .five_block {
            width     : 800px;
            height    : 515px;
            margin-top: 65px;

            .five_block_title {
                font-size: 29px;
            }

            .five_block_info {
                margin-left: 201px;
                margin-top : 53px;
            }

            form {
                margin-left: 12px;
                margin-top : 22px;

                .input_form {

                    .form_input {
                        font-size  : 16px;
                        width      : 225px;
                        height     : 55px;
                        margin-left: 14px;
                    }
                }

                .form_btn {

                    .form_checkbox {
                        margin-top : 86px;
                        margin-left: 43px;
                    }

                    .order_a_set {
                        width     : 243px;
                        height    : 50px;
                        margin-top: 25px;
                        font-size : 15px;
                    }
                }
            }
        }

        footer {

            .container {
                display    : flex;
                align-items: center;
                padding    : 0 0;
                margin-top : 17px;

                .footer_img {
                    margin-left: 0;
                }

                .vk {
                    background-repeat: no-repeat;
                    width            : 104px;
                    height           : 57px;
                }

                .footer_btn {
                    font-size  : 18px;
                    margin-left: 0;
                }

                .contacts_2 {
                    width       : 200px;
                    margin-right: 0;

                    .phone {

                        .phone_tel {
                            font-size    : 18px;
                            margin-bottom: 0;
                        }
                    }

                    .contacts_text {
                        font-size: 12px;
                    }
                }
            }


        }
    }
}

@media screen and (max-device-width: 985px) {

    .wrapper {

        header {
            background-image: none;

            .container {
                flex-direction: column;

                .logo {
                    margin-bottom: 23px;

                    img {
                        max-width: 100%;
                    }
                }

                .mnu_top {
                    display: none;
                }

                .contacts {

                    .phone {
                        display: none;
                    }
                }
            }

            .header_content {
                margin: 0;


                .header_content_title {
                    font-size    : 86px;
                    margin-bottom: 22px;
                }

                .header_content_title2 {
                    font-size    : 28px;
                    margin-bottom: 30px;
                }

                .header_content_title__p {
                    font-size  : 11px;
                    line-height: 15px;
                    text-align : center;
                }

                .small_books {
                    display: block;
                }

                .order_a_set {
                    margin-right: 0;
                    margin-top  : 32px;
                }
            }

            .header_content_small {
                display        : flex;
                margin-top     : 42px;
                align-items    : center;
                justify-content: center;

                .left_btn {
                    background      : transparent;
                    background-image: url(../assets/mobile/str_lev.png);
                    width           : 23px;
                    height          : 28px;
                    border          : none;
                    outline         : none;
                }

                .icons {
                    padding: 0 15px;
                    width  : 316px;

                    .icon_images {
                        margin       : auto;
                        margin-bottom: 26px;
                        width        : 66px;
                        height       : 53px;
                    }

                    .icon_text {
                        text-align: center;
                    }
                }

                .right_btn {
                    background      : transparent;
                    background-image: url(../assets/mobile/str_pr.png);
                    width           : 23px;
                    height          : 28px;
                    border          : none;
                    outline         : none;
                }
            }
        }


        .second_block {
            background-image: none;

            .slider_2 {
                margin-top: 33px;
            }
        }

        .third_block {

            .two_books {
                flex-direction: column;
            }
        }

        .fourth_block {

            .fourth_block__image {
                display: none;
            }
        }
    }

}

@media screen and (max-device-width: 824px) {

    .wrapper {

        .fourth_block {
            background-image: none;
            display         : flex;
            flex-direction  : column;
            align-items     : center;

            .fourth_block__title {

                h1 {
                    font-size: 30px;
                }
            }

            .fourth_block__image {
                display: block;
            }
        }

        .five_block {
            width : 590px;
            height: 700px;
            margin-top: -150px;

            .five_block_title {
                font-size : 23px;
                text-align: center;
            }

            .five_block_info {
                align-items: center;
                margin-left: 109px;
                margin-top : 33px;

                .five_block_img {
                    width: 110px;
                }

                .five_block_name {
                    margin-left: 27px;
                }
            }

            form {
                display       : flex;
                flex-direction: column;

                .input_form {
                    margin-bottom: 91px;
                    align-items  : center;

                    .form_input {
                        font-size: 15px;
                    }

                    .input_form__valid {
                        margin-top: 81px;
                    }
                }

                .form_btn {
                    margin-left: 137px;
                    margin-top : -34px;

                    .form_checkbox__valid {
                        display: none;
                    }
                }

                .form_1::after {
                    margin-right: 180px;
                    margin-left : 0;
                }

                .form_2::after {
                    margin-right: 180px;
                    margin-left : 0;
                }
            }
        }

        footer {

            .container {
                flex-direction: column;

                .footer_img {
                    margin-right: 0;
                }
            }
        }

    }
}

@media screen and (max-device-width: 620px) {

    .wrapper {

        header {

            .header_content {

                .header_content_title {
                    font-size    : 62px;
                    margin-bottom: 6px;
                }

                .header_content_title2 {
                    font-size    : 22px;
                    margin-bottom: 0px;
                }

                .header_content_title__p {
                    font-size  : 9px;
                    line-height: 15px;
                }
            }
        }

        .third_block {


            .third_block_title {
                font-size: 32px;
            }

            .first_book {

                .first_book_cont {

                    .first_book_number {
                        font-size : 85px;
                        margin-top: 8px;
                    }

                    .first_book_text {

                        .first_book_text_p1 {
                            font-size  : 18px;
                            width      : 157px;
                            margin-left: 97px;
                        }

                        .first_book_text_p2 {
                            margin-left: 36px;
                        }

                        .first_book_img {
                            width     : 346px;
                            margin-top: -88px;
                        }
                    }
                }
            }

            .two_books {

                .second_book {
                    margin-left: 38px;

                    .first_book_cont {

                        .second_book_number {
                            font-size   : 85px;
                            margin-top  : 8px;
                            margin-right: -66px;
                        }

                        .first_book_text {

                            .first_book_text_p1 {
                                font-size  : 18px;
                                width      : 157px;
                                margin-left: 97px;
                            }

                            .first_book_text_p2 {
                                margin-left: 36px;
                            }

                            .second_book_img {
                                width     : 346px;
                                margin-top: -88px;
                            }
                        }
                    }
                }

                .third_book {
                    margin-left: 38px;

                    .first_book_cont {

                        .third_book_number {
                            font-size   : 85px;
                            margin-top  : 8px;
                            margin-right: -66px;
                        }

                        .first_book_text {

                            .first_book_text_p1 {
                                font-size  : 18px;
                                width      : 157px;
                                margin-left: 97px;
                            }

                            .first_book_text_p2 {
                                margin-left: 36px;
                            }

                            .third_book_img {
                                width     : 346px;
                                margin-top: -88px;
                            }
                        }
                    }
                }
            }

            .fourth_book {
                margin-left: 38px;

                .first_book_cont {

                    .fourth_book_number {
                        font-size   : 85px;
                        margin-top  : 8px;
                        margin-right: -66px;
                    }

                    .first_book_text {

                        .first_book_text_p1 {
                            font-size  : 18px;
                            width      : 157px;
                            margin-left: 97px;
                        }

                        .first_book_text_p2 {
                            margin-left: 36px;
                        }

                        .fourth_book_img {
                            width     : 346px;
                            margin-top: -88px;
                        }
                    }
                }
            }

        }

        .fourth_block {

            .fourth_block__title {
                h1 {
                    font-size : 32px;
                    margin-top: 0px;
                }
            }
        }

        .five_block {
            width : 400px;
            height: 700px;

            .five_block_title {
                font-size  : 21px;
                margin-left: 21px;
                margin-top : 25px;
            }

            .five_block_info {
                display       : flex;
                flex-direction: column;
                align-items   : center;
                margin-top    : 33px;
                margin-left   : 0;

                .five_block_img {
                    width: 110px;
                }

                .five_block_name {
                    margin-left: 0px;
                    margin-top : 18px;

                    .autor_name {
                        font-size: 26.6px;
                    }

                    .position {
                        font-size: 22px;
                    }
                }
            }

            form {
                display       : flex;
                flex-direction: column;

                .input_form {
                    margin-bottom: 59px;
                    align-items  : center;

                    .form_input {
                        font-size: 15px;
                    }

                    .input_form__valid {
                        margin-top: 81px;
                    }
                }

                .form_btn {
                    margin-left: 42px;

                    .form_checkbox__valid {
                        display: none;
                    }
                }

                .form_1::after {
                    margin-right: 180px;
                    margin-left : 0;
                }

                .form_2::after {
                    margin-right: 180px;
                    margin-left : 0;
                }
            }
        }
    }

}

@media screen and (max-device-width: 440px) {
    .wrapper {

        header {

            .header_content {

                .header_content_title {
                    font-size    : 49px;
                    margin-bottom: 0px;
                }

                .header_content_title2 {
                    font-size    : 18px;
                    margin-bottom: 0px;
                }

                .header_content_title__p {
                    font-size: 7px;
                }

                .order_a_set {
                    width             : 218px;
                    height            : 48px;
                    border-radius     : 22px;
                    padding           : 15px 35px;
                    text-decoration   : none;
                    background        : linear-gradient(174deg, #e7b73e 0%, #aa6710 100%);
                    box-shadow        : 0em 0.4em 5px rgba(122, 122, 122, 0.5);
                    -webkit-transition: 0.3s;
                    transition        : 0.3s;
                    font-family       : Oranienbaum;
                    font-size         : 10px;
                    font-weight       : 400;
                    color             : #000000;
                    margin-top        : 15px;
                    cursor            : pointer;
                    border            : none;
                    outline           : none;

                    img {
                        width: 20px;
                    }
                }
            }

            .header_content_small {

                .icons {

                    .icon_text {
                        font-size: 13px;
                    }
                }
            }
        }

        .second_block {

            .second_block__title {
                margin-top: -128px;

                h1 {
                    font-size: 24px !important;
                }
            }
        }

        .third_block {


            .third_block_title {
                font-size: 24px;
            }

            .first_book {

                .first_book_cont {

                    .first_book_number {
                        font-size : 85px;
                        margin-top: 8px;
                    }

                    .first_book_text {

                        .first_book_text_p1 {
                            font-size  : 18px;
                            width      : 157px;
                            margin-left: 97px;
                        }

                        .first_book_text_p2 {
                            margin-left: 36px;
                        }

                        .first_book_img {
                            width     : 346px;
                            margin-top: -88px;
                        }
                    }
                }
            }

            .two_books {

                .second_book {
                    margin-left: 38px;

                    .first_book_cont {

                        .second_book_number {
                            font-size   : 85px;
                            margin-top  : 8px;
                            margin-right: -66px;
                        }

                        .first_book_text {

                            .first_book_text_p1 {
                                font-size  : 18px;
                                width      : 157px;
                                margin-left: 97px;
                            }

                            .first_book_text_p2 {
                                margin-left: 36px;
                            }

                            .second_book_img {
                                width     : 346px;
                                margin-top: -59px;
                            }
                        }
                    }
                }

                .third_book {
                    margin-left: 38px;

                    .first_book_cont {

                        .third_book_number {
                            font-size   : 85px;
                            margin-top  : 8px;
                            margin-right: -66px;
                        }

                        .first_book_text {

                            .first_book_text_p1 {
                                font-size  : 18px;
                                width      : 157px;
                                margin-left: 97px;
                            }

                            .first_book_text_p2 {
                                margin-left: 36px;
                            }

                            .third_book_img {
                                width     : 346px;
                                margin-top: -66px;
                            }
                        }
                    }
                }
            }

            .fourth_book {
                margin-left: 38px;

                .first_book_cont {

                    .fourth_book_number {
                        font-size   : 85px;
                        margin-top  : 8px;
                        margin-right: -66px;
                    }

                    .first_book_text {

                        .first_book_text_p1 {
                            font-size  : 18px;
                            width      : 157px;
                            margin-left: 97px;
                        }

                        .first_book_text_p2 {
                            margin-left: 36px;
                        }

                        .fourth_book_img {
                            width     : 346px;
                            margin-top: -53px;
                        }
                    }
                }
            }

        }

        .fourth_block {

            .fourth_block__title {

                h1 {
                    text-align: center;
                }
            }
        }

        .five_block {
            width: 285px;

            form {

                .input_form {
                    margin-left: -22px;
                }

                .form_btn {
                    margin-left: -28px;
                }
            }
        }
    }
}