.wrapper {
    max-width: 1520px;
    min-width: 320px;
    margin   : auto;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        nav {
            display    : flex;
            margin-left: 280px;


            .logo_small {
                margin-top: 16px;
                width     : 82px;
                height    : 44px;
            }

            ul {
                padding    : 0;
                margin     : 0;
                margin-left: 141px;

                .nav_menu {
                    background : transparent;
                    border     : transparent;
                    outline    : none;
                    font-family: CormorantUnicase;
                    font-size  : 15px;
                    line-height: 1.2;
                    font-weight: 400;
                    color      : #000000;
                    margin-top : 16px;
                    padding    : 0;
                    margin-left: 32px;
                    cursor     : pointer;
                }
            }

            .contacts {
                margin-top : 20px;
                margin-left: 148px;

                .phone {
                    display: flex;

                    .phone_img {
                        width       : 18px;
                        height      : 18px;
                        margin-top  : 5px;
                        margin-right: 9px;
                    }

                    .phone_tel {
                        font-family: Tinos;
                        font-size  : 24px;
                        line-height: 1.2;
                        font-weight: 700;
                        color      : #000000;
                    }
                }

                .contacts_text {
                    background     : transparent;
                    border         : transparent;
                    cursor         : pointer;
                    font-family    : CormorantUnicase;
                    font-size      : 15px;
                    line-height    : 1.2;
                    font-weight    : 500;
                    text-decoration: underline;
                    color          : #000000;
                    outline        : none;
                }
            }
        }
    }

    main {

        .header_content {
            margin-left: 340px;
            margin-top : 87px;

            .header_content_title {
                font-family   : CormorantUnicase;
                font-size     : 110px;
                line-height   : 48px;
                font-weight   : 700;
                color         : #000000;
                letter-spacing: 0.005em;
                margin-bottom : 10px;
            }

            .header_content_title2 {
                font-family   : CormorantUnicase;
                line-height   : 48px;
                font-weight   : 700;
                color         : #000000;
                font-size     : 40px;
                letter-spacing: 0.005em;
                margin-bottom : 30px;
            }

            .header_content_title__p {
                font-family   : Roboto;
                font-size     : 13px;
                line-height   : 30px;
                font-weight   : 300;
                letter-spacing: 0.2em;
                color         : #434141;
            }

            .header_content_btn {
                display: flex;

                .order_a_set {
                    text-align : center;
                    position   : absolute;
                    margin     : 0;
                    align-items: center;
                    margin-top : 36px;
                }

                .order_a_set a {
                    display        : inline-flex;
                    justify-content: center;
                    align-items    : center;
                    text-align     : center;
                    width          : 314px;
                    height         : 60px;
                    border-radius  : 100px;
                    padding        : 15px 35px;
                    font-size      : 18px;
                    text-decoration: none;
                    margin         : 20px;
                    color          : white;
                    background     : rgb(231, 183, 62);
                    background     : linear-gradient(174deg, rgba(231, 183, 62, 1) 0%, rgba(170, 103, 16, 1) 100%);
                    box-shadow     : 0em 0.4em 5px rgba(122, 122, 122, 0.5);
                    transition     : .3s;
                    font-family    : Oranienbaum;
                    font-size      : 16px;
                    line-height    : 1.2;
                    font-weight    : 400;
                    color          : #000000;
                    margin-left    : -10px;
                    margin-top     : 15px;
                    cursor         : pointer;
                }

                .order_a_set a img {
                    margin-left: 11px;
                }

                .order_a_set a:hover {
                    opacity: 0.7;
                }


                .header_content_image {
                    margin-left: 327px;
                }
            }

            .background_city_vrindavan {
                position    : absolute;
                margin-left : -340px;
                margin-right: 47px;
                margin-top  : -556px;
                z-index     : -1;
                max-width   : none;
            }

            .background_city_york {
                position   : absolute;
                margin-left: -340px;
                margin-top : -800px;
                z-index    : -1;
                max-width  : none;
            }

            .srila_prabhupada {
                position   : absolute;
                margin-left: -57px;
                margin-top : -244px;
            }
        }

        .second_block {
            background-image : url(../assets/images/Фон.png);
            height           : 1000px;
            width            : 1520px;
            background-repeat: no-repeat;
            margin-bottom    : 100px;

            .header_content_icons {
                display        : flex;
                justify-content: center;
                margin-top     : 82px;
                margin-bottom  : 108px;

                .icons {
                    padding-left: 69px;

                    .icon_images {
                        margin       : auto;
                        margin-bottom: 26px;
                    }

                    .icon_text {
                        text-align: center;
                    }
                }
            }

            .prabhupada {
                position   : absolute;
                margin-top : -652px;
                margin-left: 1170px;
            }

            .slider {
                display        : flex;
                justify-content: center;
                margin-top     : 48px;

                .slide {
                    width           : 11px;
                    height          : 11px;
                    background-color: #9a9a9a;
                    border-radius   : 50%;
                    margin-left     : 13px;
                }

                .slide.active {
                    width           : 11px;
                    height          : 11px;
                    background-color: #ff9c00;
                    border-radius   : 50%;
                }
            }

            .choose_complect {
                font-family   : Oranienbaum;
                font-size     : 40px;
                line-height   : 1.2;
                font-weight   : 400;
                text-transform: uppercase;
                color         : #000000;
                margin-left   : 368px;
                margin-bottom : 89px;
            }
        }

        .third_block {
            display        : flex;
            justify-content: center;
            flex-direction : column;

            .third_block_title {
                font-family  : Oranienbaum;
                font-size    : 48px;
                line-height  : 1.2;
                font-weight  : 400;
                color        : #000000;
                text-align   : center;
                margin-bottom: 56px;
                margin-right : 453px;
            }

            .first_book {
                display        : flex;
                justify-content: center;

                .first_book_cont {
                    display: flex;

                    .first_book_number {
                        font-family : Tinos;
                        font-size   : 150px;
                        line-height : 1.2;
                        font-weight : 400;
                        color       : #000000;
                        margin-right: -80px;
                    }

                    .first_book_text {
                        margin-top: 30px;

                        .first_book_text_p1 {
                            font-family   : PlayfairDisplaySC;
                            font-size     : 24px;
                            line-height   : 1.2;
                            font-weight   : 700;
                            text-transform: uppercase;
                            color         : #000000;
                            text-align    : center;
                        }

                        .first_book_text_p2 {
                            font-family: Tinos;
                            font-size  : 12px;
                            line-height: 1.2;
                            font-weight: 400;
                            color      : #000000;
                            text-align : center;
                        }

                        .first_book_img {
                            margin-top: -141px;
                        }
                    }
                }
            }

            .two_books {
                display        : flex;
                justify-content: center;

                .second_book {
                    display        : flex;
                    justify-content: center;

                    .first_book_cont {
                        display: flex;

                        .second_book_number {
                            font-family : Tinos;
                            font-size   : 150px;
                            line-height : 1.2;
                            font-weight : 400;
                            color       : #000000;
                            margin-right: -38px;
                        }

                        .first_book_text {
                            margin-top: 30px;

                            .first_book_text_p1 {
                                font-family   : PlayfairDisplaySC;
                                font-size     : 24px;
                                line-height   : 1.2;
                                font-weight   : 700;
                                text-transform: uppercase;
                                color         : #000000;
                                text-align    : center;
                            }

                            .first_book_text_p2 {
                                font-family: Tinos;
                                font-size  : 12px;
                                line-height: 1.2;
                                font-weight: 400;
                                color      : #000000;
                                text-align : center;
                            }

                            .second_book_img {
                                margin-top: -120px;
                            }
                        }
                    }
                }

                .third_book {
                    display        : flex;
                    justify-content: center;

                    .first_book_cont {
                        display: flex;

                        .third_book_number {
                            font-family : Tinos;
                            font-size   : 150px;
                            line-height : 1.2;
                            font-weight : 400;
                            color       : #000000;
                            margin-right: -38px;
                        }

                        .first_book_text {
                            margin-top: 30px;

                            .first_book_text_p1 {
                                font-family   : PlayfairDisplaySC;
                                font-size     : 24px;
                                line-height   : 1.2;
                                font-weight   : 700;
                                text-transform: uppercase;
                                color         : #000000;
                                text-align    : center;
                            }

                            .first_book_text_p2 {
                                font-family: Tinos;
                                font-size  : 12px;
                                line-height: 1.2;
                                font-weight: 400;
                                color      : #000000;
                                text-align : center;
                            }

                            .third_book_img {
                                margin-top: -120px;
                            }
                        }
                    }
                }
            }

            .fourth_book {
                display        : flex;
                justify-content: center;

                .first_book_cont {
                    display: flex;

                    .fourth_book_number {
                        font-family : Tinos;
                        font-size   : 150px;
                        line-height : 1.2;
                        font-weight : 400;
                        color       : #000000;
                        margin-right: -38px;
                    }

                    .first_book_text {
                        margin-top: 30px;

                        .first_book_text_p1 {
                            font-family   : PlayfairDisplaySC;
                            font-size     : 24px;
                            line-height   : 1.2;
                            font-weight   : 700;
                            text-transform: uppercase;
                            color         : #000000;
                            text-align    : center;
                        }

                        .first_book_text_p2 {
                            font-family: Tinos;
                            font-size  : 12px;
                            line-height: 1.2;
                            font-weight: 400;
                            color      : #000000;
                            text-align : center;
                        }

                        .fourth_book_img {
                            margin-top: -120px;
                        }
                    }
                }
            }

            .top_book {
                position  : absolute;
                margin-top: -450px;
                z-index   : -1;
            }

            .top_light {
                position   : absolute;
                margin-left: 990px;
                margin-top : -407px;
            }

            .bottom_book {
                position   : absolute;
                margin-left: 959px;
                margin-top : 450px;
            }

            .bottom_light {
                position  : absolute;
                margin-top: 400px;
            }
        }

        .fourth_block {
            background-image: url(../assets/images/fon_917.png);
            height          : 1207px;
            margin-top      : -311px;

            .fourth_block_title {
                font-family: Oranienbaum;
                font-size  : 40px;
                line-height: 1.2;
                font-weight: 400;
                color      : #000000;
                padding-top: 359px;
                margin-left: 292px;
            }

            .fourth_block_content {
                display         : flex;
                justify-content : center;
                width           : 984px;
                height          : 539px;
                background-image: url(../assets/images/Карта.png);
                margin          : auto;
                margin-top      : 200px;

                .fourth_block_image {
                    width : 422px;
                    height: 481px;
                }
            }

            .fourth_block_icons {
                width           : 625px;
                height          : 136px;
                background-color: #ffffff;
                box-shadow      : 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
                display         : flex;
                justify-content : center;
                margin          : auto;
                margin-top      : -67px;

                img {
                    margin-right: -26px;
                }
            }
        }

        .five_block {
            width               : 979px;
            height              : 579px;
            border              : 5px solid transparent;
            border-image        : linear-gradient(-66.0deg, #5bc1d8 2%, #e4a421 97%);
            -moz-border-image   : linear-gradient(-66.0deg, #5bc1d8 2%, #e4a421 97%);
            -webkit-border-image: linear-gradient(-66.0deg, #5bc1d8 2%, #e4a421 97%);
            border-image-slice  : 1;
            margin              : auto;
            margin-top          : 191px;

            .five_block_title {
                font-family   : Oranienbaum;
                font-size     : 40px;
                line-height   : 1.2;
                font-weight   : 400;
                text-transform: uppercase;
                color         : #000000;
                margin-left   : 42px;
                margin-top    : 64px;
            }

            .five_block_info {
                display    : flex;
                margin-left: 274px;
                margin-top : 52px;

                .five_block_name {
                    margin-left: 26px;
                    margin-top : 44px;

                    .autor_name {
                        font-family   : Oranienbaum;
                        font-size     : 33.6px;
                        line-height   : 27px;
                        font-weight   : 400;
                        color         : #000000;
                        letter-spacing: -0.05em;
                    }

                    .position {
                        font-family   : Oranienbaum;
                        line-height   : 27px;
                        font-weight   : 400;
                        color         : #000000;
                        font-size     : 28px;
                        letter-spacing: -0.05em;
                    }
                }
            }

            form {
                display    : flex;
                margin     : auto;
                margin-left: 65px;
                margin-top : 50px;

                .input_form {
                    display       : flex;
                    flex-direction: column;

                    label {
                        font-family: Oranienbaum;
                        font-size  : 14px;
                        line-height: 1.2;
                        font-weight: 400;
                        color      : #000000;
                        text-align : center;
                    }

                    .form_input {
                        font-family     : Oranienbaum;
                        font-size       : 19px;
                        line-height     : 1.2;
                        font-weight     : 400;
                        letter-spacing  : 0.3em;
                        color           : #686868;
                        width           : 262px;
                        height          : 60px;
                        background-color: #d1cfcf;
                        outline         : none;
                        border          : transparent;
                        border-radius   : 10px;
                        padding-left    : 29px;
                        margin-left     : 14px;
                    }

                    .form_input.ng-invalid {
                        border: solid red 2px;
                    }

                    .form_input.ng-valid {
                        border: solid green 2px;
                    }

                    .input_form__valid {
                        position   : absolute;
                        margin-top : 109px;
                        margin-left: 19px;
                    }

                }

                .form_2::after {
                    content         : '';
                    background-image: url(../assets/images/phone_1003.png);
                    width           : 20px;
                    height          : 20px;
                    margin-top      : -40px;
                    margin-left     : 20px;
                }

                .form_1::after {
                    content         : '';
                    background-image: url(../assets/images/user_1904.png);
                    width           : 12px;
                    height          : 15px;
                    margin-top      : -36px;
                    margin-left     : 26px;
                }

                .form_btn {

                    .order_a_set {
                        text-align : center;
                        position   : absolute;
                        margin     : 0;
                        align-items: center;
                    }

                    .order_a_set {
                        display        : inline-flex;
                        justify-content: center;
                        width          : 294px;
                        height         : 57px;
                        border-radius  : 100px;
                        padding        : 15px 35px;
                        font-size      : 17px;
                        text-decoration: none;
                        margin         : 20px;
                        color          : white;
                        background     : rgb(231, 183, 62);
                        background     : linear-gradient(174deg, rgba(231, 183, 62, 1) 0%, rgba(170, 103, 16, 1) 100%);
                        box-shadow     : 0em 0.4em 5px rgba(122, 122, 122, 0.5);
                        transition     : .3s;
                        font-family    : Oranienbaum;
                        line-height    : 1.2;
                        font-weight    : 400;
                        text-transform : uppercase;
                        color          : #000000;
                        margin-left    : 34px;
                        margin-top     : 17px;
                        outline        : none;
                        border         : none;
                    }

                    .order_a_set img {
                        margin-left: 11px;
                        outline    : none;
                    }

                    .order_a_set:hover {
                        opacity: 0.7;
                        outline: none;
                    }

                    .form_checkbox {
                        margin-top : 84px;
                        margin-left: 60px;
                        position   : absolute;

                        .input_checkbox {
                            width           : 21px;
                            height          : 19px;
                            background-color: #dfdfde;
                        }

                        .btn_checkbox {
                            font-family     : Oranienbaum;
                            font-size       : 14.1px;
                            line-height     : 1.2;
                            font-weight     : 400;
                            color           : #000000;
                            text-decoration : underline;
                            background-color: transparent;
                            border-color    : transparent;
                            text-decoration : none;
                            cursor          : pointer;
                        }
                    }

                    .form_checkbox__valid {
                        position   : absolute;
                        margin-left: 61px;
                        margin-top : 111px;
                    }
                }
            }

        }
    }

    footer {
        display        : flex;
        justify-content: center;
        padding-top    : 179px;
        padding-bottom : 88px;

        .footer_img {
            padding-right: 117px;
        }

        .vk {
            background-image: url(../assets/images/vk_1028.png);
            width           : 74px;
            height          : 42px;
            margin-top      : 10px;
        }

        .footer_btn {
            font-family    : Oranienbaum;
            font-size      : 20px;
            line-height    : 1.2;
            font-weight    : 400;
            text-decoration: underline;
            color          : #000000;
            background     : transparent;
            border         : transparent;
            cursor         : pointer;
            margin-left    : 69px;
            outline        : none;
        }

        .contacts {
            margin-top : 20px;
            margin-left: 148px;

            .phone {
                display: flex;

                .phone_img {
                    width       : 18px;
                    height      : 18px;
                    margin-top  : 5px;
                    margin-right: 9px;
                }

                .phone_tel {
                    font-family: Tinos;
                    font-size  : 24px;
                    line-height: 1.2;
                    font-weight: 700;
                    color      : #000000;
                }
            }

            .contacts_text {
                background     : transparent;
                border         : transparent;
                cursor         : pointer;
                font-family    : CormorantUnicase;
                font-size      : 15px;
                line-height    : 1.2;
                font-weight    : 500;
                text-decoration: underline;
                color          : #000000;
                outline        : none;
            }
        }
    }
}