<div class="wrapper">
  <header>
    <div class="container">
      <a href="#" class="logo"><img src="../assets/images/logotip_bd_902.png" alt=""></a>
      <ul class="mnu_top">
        <li><button (click)="scroll(0)">Главная</button></li>
        <li><button (click)="scroll(1)">Комплекты</button></li>
        <li><button (click)="scroll(2)">Доставка</button></li>
        <li><button (click)="scroll(3)">Преимущества</button></li>
      </ul>
      <div class="contacts">
        <div class="phone">
          <img class="phone_img" src="../assets/images/phone_ringing.png" alt="">
          <p class="phone_tel">8-993-024-04-36</p>
        </div>
        <button class="contacts_text" (click)="consult()">Заказать обратный звонок</button>
      </div>
    </div>
    <div class="header_content">
      <h1 class="header_content_title">Ведическая</h1>
      <h2 class="header_content_title2">Литература с доставкой по снг</h2>
      <p class="header_content_title__p">«Тот, кто сможет читать эти книги с открытым сердцем,
        не<br> останется равнодушным,независимо от конфессиональной<br>
        прнадлежности, веры или философских убеждений».</p>
      <img class="small_books" src="../assets/images/1экран.png" alt="">
      <button class="order_a_set" (click)="scroll(1)">ВЫБРАТЬ КОМПЛЕКТ КНИГ
        <img src="../assets/images/books.png" alt=""></button>
    </div>
    <div class="header_content_icons">
      <div class="icons">
        <img class="icon_images" src="../assets/images/study_49.png" alt="">
        <p class="icon_text">Перевод на русский язык<br>
          с санскрита с транслитерацией</p>
      </div>
      <div class="icons">
        <img class="icon_images" src="../assets/images/study_49.png" alt="">
        <p class="icon_text">Приемственность учителей<br>
          и учеников которой более 5000 лет</p>
      </div>
      <div class="icons">
        <img class="icon_images" src="../assets/images/study_49.png" alt="">
        <p class="icon_text">С отзывами и рекомендациями<br>
          мировых учёных и политиков</p>
      </div>
    </div>
    <div class="header_content_small">
      <div class="icons">
        <img class="icon_images" src="../assets/images/study_49.png" alt="">
        <p class="icon_text">Перевод на русский язык<br>
          с санскрита с транслитерацией</p>
      </div>
    </div>
  </header>
  <section class="second_block">
    <div class="second_block__title">
      <h1 class="choose_complect">выбери свой комплект</h1>
    </div>
    <app-slider (dataChanged)="dataChangeHandler($event)"></app-slider>
    <div class="slider_2">
      <div class="slide active" (onclick)="currentSlide(1)"></div>
      <div class="slide" (onclick)="currentSlide(2)"></div>
      <div class="slide" (onclick)="currentSlide(3)"></div>
      <div class="slide" (onclick)="currentSlide(4)"></div>
      <div class="slide" (onclick)="currentSlide(5)"></div>
      <div class="slide" (onclick)="currentSlide(6)"></div>
    </div>
  </section>
  <section class="third_block">
    <h1 class="third_block_title">ПРЕИМУЩЕСТВА КНИГ</h1>
    <article class="first_book">
      <div class="first_book_cont">
        <p class="first_book_number">1</p>
        <div class="first_book_text">
          <p class="first_book_text_p1">РУССКАЯ ТРАНСЛИТЕРАЦИЯ</p>
          <p class="first_book_text_p2">С санскрита приведена транслитерация<br> (произношение на русском)
            на русский язык,<br> для чтения санскрита.</p>
          <img class="first_book_img" src="../assets/images/1 табличка.png" alt="">
        </div>

      </div>
    </article>
    <div class="two_books">
      <article class="second_book">
        <div class="first_book_cont">
          <p class="second_book_number">2</p>
          <div class="first_book_text">
            <p class="first_book_text_p1">ЛИТЕРАТУРНЫЙ ПЕРЕВОД СТИХА</p>
            <p class="first_book_text_p2">Литературный перевод санскриткого текста,<br>
              для более понятного понимания текста.</p>
            <img class="second_book_img" src="../assets/images/2 табличка.png" alt="">
          </div>
        </div>
      </article>
      <article class="third_book">
        <div class="first_book_cont">
          <p class="third_book_number">3</p>
          <div class="first_book_text">
            <p class="first_book_text_p1">ИЗНАЧАЛЬНЫЙ САНСКРИТ</p>
            <p class="first_book_text_p2">В книгах приведены оригинальные санскрит-<br>ские тексты.</p>
            <img class="third_book_img" src="../assets/images/3 табличка.png" alt="">
          </div>
        </div>
      </article>
    </div>
    <article class="fourth_book">
      <div class="first_book_cont">
        <p class="fourth_book_number">4</p>
        <div class="first_book_text">
          <p class="first_book_text_p1">КОММЕНТАРИЙ К СТИХУ</p>
          <p class="first_book_text_p2">Авторитетный комментарий ачарии,
            принад-<br>лежащего к цепи духовных учителей.<br> Это позволяет передавать знание без искажений.</p>
          <img class="fourth_book_img" src="../assets/images/4 табличка.png" alt="">
        </div>
      </div>
    </article>
  </section>
  <section class="fourth_block">
    <div class="fourth_block__title">
      <h1>ДОСТАВИМ КНИГИ В ЛЮБУЮ ТОЧКУ СНГ</h1>
    </div>
  </section>
  <section class="five_block">
    <h1 class="five_block_title">получите консультацию по комплектам, книг,<br>
      либо соберите свой вариант комплекта</h1>
    <div class="five_block_info">
      <img class="five_block_img" src="../assets/images/sloy_24_979.png" alt="">
      <div class="five_block_name">
        <p class="autor_name">Михаил Выговский</p>
        <p class="position">менеджер по клиентам</p>
      </div>
    </div>
    <form action="/" method="post" [formGroup]="signUpForm" novalidate>
      <div class="input_form form_1">
        <label for="name">Введите ваше имя</label>
        <input type="text" name="name" id="name" class="form_input" placeholder="________________"
          formControlName="name" appNameMask>
        <div class="input_form__valid" *ngIf="_name.invalid || _name.touched" maxLength="10">
          <span *ngIf="_name.errors?.required">Обязательное поле</span>
          <span *ngIf="_name.errors?.min">Недопустимое количество символов</span>
        </div>
      </div>
      <div class="input_form form_2">
        <label for="phone">Введите Ваш номер телефона</label>
        <input type="text" name="phone" id="phone" class="form_input" placeholder="+7-(___)-___-__-__"
          formControlName="phones" appPhoneMask>
        <div class="input_form__valid" *ngIf="_phones.invalid || _phones.touched">
          <span *ngIf="_phones.errors?.required">Обязательное поле</span>
          <span *ngIf="_phones.errors?.min">Недопустимое количество символов</span>
        </div>
      </div>
      <div class="form_btn">
        <div class="form_checkbox">
          <input type="checkbox" formControlName="checkbox" required>
          <button class="btn_checkbox">Я соглашаюсь на обработку данных</button>
        </div>
        <div class="form_checkbox__valid" *ngIf="_checkbox.invalid">
          <span *ngIf="_checkbox.errors?.required">Необходимо поставить галочку</span>
        </div>
        <input class="order_a_set" (click)="submit()" type="submit" name="submit" href="#books"
          value="получить консультацию" [disabled]="signUpForm.invalid">
      </div>
    </form>
  </section>
  <footer>
    <div class="container">
      <img class="footer_img" src="../assets/images/logotip_bd_1019.png" alt="">
      <a class="vk" href=""></a>
      <button class="footer_btn">Политика конфиденциальности</button>
      <div class="contacts_2">
        <div class="phone">
          <img class="phone_img" src="../assets/images/phone_ringing.png" alt="">
          <p class="phone_tel">8-993-024-04-36</p>
        </div>
        <button class="contacts_text" (click)="consult()">Заказать обратный звонок</button>
      </div>
    </div>
  </footer>
  <app-gratitude [done]="httpService.done" (closeWindow)="dataClose($event)"></app-gratitude>
  <app-consultation [visibility]="consultation" (visibleChanged)="consulting($event)"></app-consultation>
</div>