<div class="cont" *ngIf = "done">
  <div class="content">
    <div class="content_text">
      <span class="black">Спасибо за </span><span class="grow">заявку</span><br>
      <div class="spans">
        <span class="text"> менеджер свжется с Вами<br> в течении</span><span class="text_2"> 15 минут.</span>
      </div>
    </div>
    <img class="cont_img" src="../../../assets/complects/logotip_bd_4722.png" alt="">
  </div>
  <div class="hidden_block"></div>
  <button (click)="close(true)" class="close"></button>
</div>
